body{
    background-color: pink;
    font-size: 40px;
    color: black;
}



.cabecalho{
    display: flex;
    font-size: 35px;
}
.lista{
    display: flex;    
}

.lista-item{
    margin-left: 50px;
}

.lista-item{
    display: flex;
    list-style-type: none;
}



.teste1{
    display: flex;
    justify-content: center;
}

